<div class="loader-wrapper" *ngIf="!ready">
  <div class="loader"></div>
</div>

<div *ngIf="ready">

  <app-slider></app-slider>

  <div class="clearfix"></div>
  <div id="movieBrandCover" class="text-center">
    <i class="fas fa-globe" style="font-size: 7em;"></i>
    <h3>www.treasurecomex.com.br</h3>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix"></div>
  <div style="padding-top: 140px;"></div>
  <div class="col-md-10 col-md-offset-1">
    <app-home-cards></app-home-cards>
  </div>

  <div class="clearfix"></div>

  <div id="parallaxe"></div>

  <div style="height: 500px;"></div>

</div>
