

<div class="row" id="mainCards">
  <div class="col-md-3">
    <div class="panel shadow-top-bottom">
      <div class="panel-body">
        <div class="text-center">
          <i class="fas fa-upload cardIcon"></i>
          <hr>
          <h2><strong>Quer exportar?</strong></h2>
          <hr>
        </div>
        <ul>
          <li>Análise Documental</li>
          <li>Contratação de Seguro</li>
          <li>Registro de Exportação (RE)</li>
        </ul>
        <hr>
        <button class="btn btn-treasure btn-block">
          Saiba Mais
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel shadow-top-bottom">
      <div class="panel-body">
        <div class="text-center">
          <i class="fas fa-download cardIcon"></i>
          <hr>
          <h2><strong>Quer importar?</strong></h2>
          <hr>
        </div>
        <ul>
          <li>Análise Documental</li>
          <li>Cotação de Fretes</li>
          <li>Registro de Declaração de Imposto</li>
        </ul>
        <hr>
        <button class="btn btn-treasure btn-block">
          Saiba Mais
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel shadow-top-bottom">
      <div class="panel-body">
        <div class="text-center">
          <i class="fas fa-hands-helping cardIcon"></i>
          <hr>
          <h2><strong>Assessoria</strong></h2>
          <hr>
        </div>
        <ul>
          <li>Análise Documental</li>
          <li>Contratação de Seguro</li>
          <li>Registro de Exportação (RE)</li>
        </ul>
        <hr>
        <button class="btn btn-treasure btn-block">
          Saiba Mais
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel shadow-top-bottom">
      <div class="panel-body">
        <div class="text-center">
          <i class="fas fa-gavel cardIcon"></i>
          <hr>
          <h2><strong>Regime Aduaneiro</strong></h2>
          <hr>
        </div>
        <ul>
          <li>Remessa ou liberação de bagagens nos Portos e Aeroportos
            com entrega ao passageiro no Brasil e/ou Exterior
          </li>
        </ul>
        <hr>
        <button class="btn btn-treasure btn-block">
          Saiba Mais
        </button>
      </div>
    </div>
  </div>
</div>
